.avatar-component-container {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.avatar-component-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: flex-start;
  border-color: #787878;
  border-style: solid;
  border-width: 4px;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/2d3e149e710d5030b9e36a55/ddddddd.jpg');
  background-position: center;
}

@media(max-width: 1600px) {
  .avatar-component-container {
    width: auto;
    height: auto;
    align-items: center;
  }
  .avatar-component-container1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    border-color: #787878;
    border-style: solid;
    border-width: 4px;
    border-radius: var(--dl-radius-radius-round);
    background-size: cover;
    background-image: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/2d3e149e710d5030b9e36a55/ddddddd.jpg');
  }
}
